.home-container {
    padding: 40px 20px;
    max-width: 1400px;
    margin: 0 auto;
    background-color: rgb(39, 37, 37)
}

.hero-section {
    color: white;
    position: relative;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: end;

    background-image: url('https://images.unsplash.com/photo-1536440136628-849c177e76a1?w=1920');
    background-size: cover;
    background-position: center;

}

.search-section {
    display:block;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.search-bar {
    display: inline-flex;
    gap: 20px;
    max-width: 500px;
   
}

.search-bar input {
    background-color: rgb(53, 52, 52);
    color: white;
    border: 1px solid rgb(37, 36, 36);
    border-radius: 5px;
    font-size: 15px;

    padding: 15px 20px;
    flex: 1;
    outline: none;
}

.search-bar input:hover {
    border-color: rgb(197, 59, 59);
}

.search-bar button {
    background-color:  rgb(197, 59, 59);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;

    padding: 10px;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: rgb(235, 154, 166);
    color: rgb(196, 47, 47);
}

h2,
h3 {
    color: white;
    margin: 30px;
    color: rgb(163, 72, 72);

}