.movie-container {
  
  margin: 0 auto;
  background-color: rgb(39, 37, 37)
}

.page-banner {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height:1200px;
  display: flex;
  align-items: center;
  position: relative;
}


.movie-container {
  position: relative;
  z-index: 1;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
}



.movie-info {
  background-color: rgb(39, 37, 37);
  padding: 40px;
  max-width: 1400px;
  margin: 0 auto;
  color: rgb(245, 229, 229);
}


.reviews {
  background-color: rgb(39, 37, 37);
  padding: 40px;
  max-width: 1400px;
  margin: 0 auto;
}


.reviews-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}


a {
  text-decoration: none;
  color: white;
}

.go-back-btn {
  background-color: rgb(197, 59, 59);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 15px;

  padding: 10px;
  cursor: pointer;
  text-align: center;
  width: 300px;
  
}

.go-back-btn:hover {
    background-color: rgb(220, 111, 128);
}

.mb-20 {
  margin-bottom: 20px;
}

.red {
  color: rgb(197, 59, 59);;
}
 
.review-form-section {
    background-color: rgb(39, 37, 37);
    padding: 40px;
    max-width: 1400px;
    margin: auto;
}