.header {
    background-color: rgb(34, 33, 33);
    padding: 20px;

    position: sticky;
    top: 0;
    z-index: 1000;
}

.header-content {
    max-width: 1400px;
    gap: 20px;

    display: flex;
    justify-content:left;
    align-items: center;
}

.logo {
    font-size: 34px;
    color: rgb(197, 59, 59);
    font-weight: bolder;
    margin-left: 20px;
    margin-right: 20px;
}

.logo:hover {
    transform: scale(1.2);
}


li {
    list-style: none;
}

.nav-item {
    display: none;

    gap: 30px;
    font-size: 20px;
    color: rgb(197, 59, 59);
} 

.nav-link {
    color: rgb(197, 59, 59);
}
