.review-card {
  background-color: rgb(31, 30, 30);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  transition: transform 0.3s;
}

.reviews-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
  padding: 20px 0;
}

.review-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(197, 59, 59, 0.3);
}

.review-card .card-title {
  font-size: 20px;
  color: rgb(197, 59, 59);
  margin-bottom: 15px;
  
}

.review-card .card-title span {
  color: white;
  background-color: rgb(197, 59, 59);
  padding: 5px 12px;
  border-radius: 5px;
  font-size: 14px;
  margin-left: 10px;
  font-weight: normal;
}

.review-card .card-text {
  color: rgb(228, 211, 211);
  line-height: 1.6;
  margin-bottom: 15px;
  font-size: 16px;
}

.review-card .text-end {
  text-align: right;
  color: rgb(197, 59, 59);
  font-size: 14px;
  font-style: italic;
  margin-top: 10px;
}