.review-card {
  background-color: rgb(31, 30, 30);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  transition: transform 0.3s;
}

.review-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(197, 59, 59, 0.3);
}

.review-card .card-title {
  font-size: 18px;
  color: rgb(197, 59, 59);
  margin-bottom: 15px;
  font-weight: bold;
}

.review-card .card-title span {
  color: rgb(245, 229, 229);
  background-color: rgb(197, 59, 59);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  margin-left: 10px;
}

.review-card .card-text {
  color: rgb(228, 211, 211);
  line-height: 1.6;
  margin-bottom: 15px;
}

.review-card .text-end {
  text-align: right;
  color: rgb(197, 59, 59);
  font-size: 14px;
  font-style: italic;
}