.App {
    min-height: 100vh;
    background-color: rgb(53, 52, 52);
}

.main-content {
    padding: 10px;
    max-width: 1400px;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}