* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Cabin', sans-serif;
  color: rgb(70, 63, 108);

}

img {
  width: 100%;
}

/* responsive mobile first */
/* tablet */
@media (min-width: 768px) {

  .col {
    width: calc(100% / 4 - (10px * 3) / 4);
  }
}

/* Desktop */
@media (min-width: 1200px) {

  .col {
    width: calc(100% / 6 - (10px * 5) / 6)
  }
}